<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
      <mat-form-field>
         
        <input
         matInput
          type="text"
           name="title" 
           ngModel
           required
           placeholder="Title"
           minlength="3"
           #title="ngModel"           
           >
           <mat-error *ngIf="title.invalid">plz bro</mat-error>           
        </mat-form-field>

      <mat-form-field>
        <textarea 
        matInput 
        name="content"
          cols="10"
          rows="4"
          ngModel
          required
          placeholder="content"
          #content="ngModel"           
          ></textarea>
          <mat-error *ngIf="content.invalid">plz write something</mat-error>                
      </mat-form-field>
      <button mat-raised-button color="warn" type="submit" >Save Post</button>
      
  </form>
  
</mat-card>


